
body { padding-top: 70px; }
.chicas {
	height: 600px;
	width: 100%;
    background-image: url(../img/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
}
.chicas p, h1 {
	text-align: center;
}
.chicas h1 {
	color: white;
	padding-top: 300px;
	font-size: 3em;
}
#section-video {
	margin-top: 60px;
	margin-bottom: 60px;
}
#section-video h1 {
	font-size: 2em;
}
.docu h1 {
	padding-top: 80px;
	font-size: 2em;
}
.yellow {
	background-color: yellow;
	height: 500px;
}
.embed-responsive-item {
  position: relative;
  width: 560px;
  height: 480;
}
.hackathon-photo {
	width: 560px;
	padding-top: 60px;
}
.box-hackathon {
	padding-top: 60px;
}
.box-hackathon p {
	text-align: left;
	padding-right: 60px;
}
.made-photo {
	width: 560px;
	padding-top: 60px;
}
.box-made{
	padding-top: 60px;
}
.box-made p {
	text-align: left;
}
.box-made h1 {
	padding-bottom: 30px;
}
.box-form {
	width: 560px;
	padding-bottom: 60px;
}
.box-form  input, textarea {
	margin-bottom: 10px;
}
footer {
	background-color: #0F7EFA;
	color: white;
	height: 100px;
}
footer p {
	padding-top: 30px;
}
strong {
	color: yellow;
}